@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


main{
  min-height: 80vh;
}
.my-6{
  margin-top: 13rem !important;
  
}

:root{
  --primary-white: #fff;
  
}
.body{
  font-family: 'Roboto', sans-serif !important;
}

/* ----------------------------------Navbar--START----------------------------------------- */
.nav-logo{
  width: 12rem;
  height: auto;
}
.navbar {
  color: #fff !important;
  
  font-size:15px;
 font-style: normal !important;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400
}

.nav-link {
  padding: 25px 5px;
  transition: 0.2s
}


/* ----------------------------------Navbar--END--------------------------------------- */



/* ----------------------------------HEADER--START--------------------------------------- */
.header-wrapper{
    background: url("./image/bank.png") no-repeat;
    position: relative;
    background-size:cover;
    background-position: center;
    height: 90vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-items:calc();
  color : var(--primary-white) !important;
}
.main-info h5{
  opacity: 50%;
}

.container.card-info{
  min-height: 70vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center
}

p {
  margin: 0px
}

.card {
  width: 480px;
  height: 440px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}

.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #1b9ce3;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.card .pic {
  position: relative
}

.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}

.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 15px;
  background-color: #1b9ce3;
  color: white;
  position: absolute;
  bottom: 0px;
  transition: all ease
}

.card .date .day {
  font-size: 14px;
  font-weight: 600
}

.card .date .month,
.card .date .year {
  font-size: 10px
}

.card .text-muted {
  font-size: 12px
}

.card:hover .text-muted {
  color: #fff !important
}

.card .content {
  padding: 0 20px
}

.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #1b9ce3;
  border-radius: 25px;
  font-size: 12px;
  border: none
}

.card:hover .content .btn {
  background: #fff;
  color: #1b9ce3;
  box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px
}

.card .content .foot .admin {
  color: #1b9ce3;
  font-size: 12px
}

.card:hover .content .foot .admin {
  color: #fff
}

.card .content .foot .icon {
  font-size: 12px
}
/* ----------------------------------HEADER--END--------------------------------------- */


/* ----------------------------------FOOTER--START--------------------------------------- */
a {
  color: #6c757d;
}

a:hover {
  color: #fec503;
  text-decoration: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}

footer {
  padding: 0rem 0;
  background-color:0x6E41BF;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
  font-size: 0.563rem;

}
.footer-column .nav-item span.nav-link {
  color: #6c757d;
}
.footer-column .nav-item span.footer-title {
  font-size: 10px !important;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 15px !important;
  line-height: 30px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: 0x6E41BF;
}

footer .quick-links {
  font-size: 45% !important;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

/* ----------------------------------FOOTER--END--------------------------------------- */

/* ----------------------------------CARD_COMPONENT--START--------------------------------------- */

/* ----------------------------------CARD_COMPONET--END--------------------------------------- */





